[Unit]
Description=canmap communication service

[Service]
Type=idle
ExecStart=/usr/local/bin/canmapd
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
